<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016707959718-sd25gtrle54oo500srnkvhviuolmep3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016707959718-sd25gtrle54oo500srnkvhviuolmep3g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016707959718-24dvk342f8c3lck5g7phnvuarsoeg561.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKMLq0gnBvPwqMUvFOU90nUeE31DsGv1s</string>
	<key>GCM_SENDER_ID</key>
	<string>1016707959718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goeleventhmile.biz</string>
	<key>PROJECT_ID</key>
	<string>goeleventhmileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>goeleventhmileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016707959718:ios:5645174620d7a1a6189d67</string>
</dict>
</plist>